* {
    margin: 0;
    padding: 0;
    box-
}

@import url('https://fonts.googleapis.com/css2? family= Lato:wght@700 & family= Roboto:wght@300 & display=swap');
*{
    margin: 0;
    padding:0;
    -moz-box-sizing: ;
}
header h1 {
    color:#CE212A;
}

header{
    background-color:#DBD3D8;
    display: flex;
    justify-content: space-between;
    position: sticky;
    padding: 15px ;
    }

header nav ul {
    display: flex;
    list-style:none;
    }
header nav ul li a{
        text-decoration:none;
        color:#CE212A;
        font-family:'Lato', sans-serif;
    }

header nav ul li a:hover{
    color: #F7EE7F
}
    
   .hero {
        max-width: 100%;
        background-image: url(../img/minis.jpeg);
        width: 100%;
        height: 250px;
        background-size: cover;
        background-attachment: fixed;
        background-position: center ;
    
    }
    .hero div h1 {
        text-align: center;
        padding-top: 45px;
        color:#CE212A;
        font-size: 40px;
        font-style: italic;
    }
    .hero div p{
        text-align: center;
        padding-top: 45px;
        color:#CE212A;
        font-size: 40px;
        font-style: italic;
        color: bisque;
    }

    .hero div p {
        text-align: center;
        padding-top: 0;
       }
    
    .productos > div{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }


    .productos .productos-contenedor div{
        text-align: center;
        border: 1px solid black;
        height: 360px;
        width: 250px;
        border-radius: 15px;
        box-shadow: 10px 10px 27px -4px rgba(0,0,0,0.75);
        }
    
    .productos .productos-contenedor h3{
      text text-align: center;
    }



    .productos div img{
        width: 300px;
        height: 300px;
        border-radius: 15px;
    }
    /*Para despegarlo de la foto*/
    .productos div h3{
        margin-bottom: 10px;
        text-align: center;
    }
    
    .productos div a{
    text-decoration: none; 
    text-align: center;
    background-color: lightcoral;  
    color: white;  
    padding: 5px 10px 5px 10px; 
    border-radius: 19px;
    }

    /*--------position--------*/
    main section h2 {
    text-align: center;
    font-weight: bold;
    margin-top: 1rem;
    animation-duration: 1s;
    animation-iteration-count: 1;
    }
    
    /*-------Contacto--------*/
    .contactanos {
    text-align: center;
    font-weight: bold;
    margin-top: 1rem;
    animation-duration: 1s;
    animation-iteration-count: 1;
    }
    .contestamos {
        font-size: 1.2rem;
        text-align: center;
        margin: 10px 8px 15px 8px;
        margin-top: 0;
        margin-bottom: 1rem;
    }
    .formularioContacto {
        display: flex;
        flex-direction: column;
        width: 50;
        text-align: center;
        margin: 1rem 4rem 1rem 0;
        padding: 1.2rem;
        border: #CE212A solid 1px;
        border-radius: 1rem;
        background-color: #CE212A;
        color: white;
        *, ::after, ::before {
            box-sizing: border-box;

        }
    }
    
  
    *, ::after, ::before {
        box-sizing: border-box;
    }
    user agent stylesheet
    form {
        display: block;
        margin-top: 0em;
    }
    body {
        font-family: "fira sans", sans-serif;
    }
    .campo {
        margin: 6px 0;
        padding: 9px;
        border-radius: 5px;
    }

    /*--------Marcas---------*/
    .imgmarcas .column {
      display: flex;
      height: 180px;
      width: 180px;
    }
    .marcas {
        text-align: center;
        font-weight: bold;
        margin-top: 1rem;
        animation-duration: 1s;
        animation-iteration-count: 1;
    }

    @media (max-width: 600px) {
        .facet_sidebarmonospace {
          display: none;
        }
      }

.imgmarcas{
    width: 15rem;
    margin: 1rem;
    grid-area: imgmarcas;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

img, svg {
    vertical-align: middle;
}

*, ::after, ::before {
    box-sizing: border-box;
}

grid